# all of the trash that i stored in development directory
.build*/
build*/
*build*/
preprint*
source/compile
*.user
*.user*
*.docx
*.bak
accounts*
gimp/*
*.xcf
*.xfc
*target/
*cache/
*.gen.*
LOCAL*

# cmake
Makefile
QMakefile
qmake*
.qmake*
compile_commands.json
*.cmake
CMakeFiles/
CMakeCache.txt
*autogen*/
